
:root {
  /* colors */
  --primary-color: #f5f5f5;
  --secondary-color: #2b2b2b;
  --accent1-color: #F8FF24;
  --accent2-color: #381D2A;
  --accent3-color: #01EC1C;
  

  /* font(s) */
  

  /*font sizes*/
  --form-menu-font-size: 1.5em;
  --button-font-size: 1em;

}

html, body{
  height: 100%;
  margin: 0;
}

#logo{
  height: 2em;
}

body{
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
}


header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 background-color: var(--accent3-color);
 padding: 1em;
}

menu, #search-form{
  display: flex;
  align-items: center;
}

menu{
  flex-wrap: wrap;
}

.menu-link{
  margin: 1em;
  font-size: var(--form-menu-font-size);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img{
  margin: 5px;
  width: 180px;
}

/* form styles */

form{
  border-radius: 0.3em;
  background-color: #ccc;
  padding: 2em;
  margin: 1em;
  font-size: var(--form-menu-font-size);
}

label{
  display: block;
}

input[type=text],
input[type=email]{
  margin: 8px 0;
  font-size: 1em;
}

input.form-control {
  border: 1px solid #ccc;
}

.has-error input.form-control, .has-error textarea.form-control {
  border: 3px solid red;
}

.error-message {
  color: red;
  font-size: 0.85rem;
}

button{
  cursor: pointer;
  font-size: var(--button-font-size);
}

button[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}

#search-form{
  background-color: var(--accent3-color);
}

